# basic packages
ruamel-yaml

# pytorch and some dependencies
torch==2.7.0
torchvision==0.22.0
torchaudio==2.7.0

# training monitoring
wandb

# RL example visualization related
pygame
moviepy

# Supervised learning example visualization related
matplotlib
h5py
